:root {
  --storm: #080808;
  --lime: #00ff22;
  --hazYellow: #fbff00;
  --cream: #f8eed3;

  --background: var(--storm);
  --foreground: white;
  --maincolor: var(--lime);

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: auto;
}

html {
  color: var(--foreground);
  text-align: left;
}

body {
  background-color: var(--background);
  font-weight: 200;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: clamp(1.5rem, 11vw, 15rem);
  font-weight: 900;
  line-height: clamp(1.5rem, 8vw, 15rem);
}

h2 {
  font-size: clamp(1.5rem, 7vw, 10rem);
  font-weight: 800;
  margin-top: 1vh;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 5rem);;
  margin: 1em 0;
}

p {
  font-size: clamp(1rem, 1.4vw, 3.5rem);
  text-align: justify;
}

/* Socials */

.socials-grid {
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: repeat(auto-fit, minmax(90px, 5vw));
  gap: 50px;
  justify-content: center;
}

.social-icon {
  /* padding: 2em; */
  /* border: 1px solid var(--maincolor); */
  /* border-radius: 10px; */
  background-color: var(--background);
  text-align: center;
}

.social-icon img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

/* Sections */

section {
  margin: 2%;
  padding-inline: max(1rem, calc((100% - 140ch) / 2));  
}

.title {
  margin: 0;
  padding: max(2rem, 2%);
  color: black;
  background-color: var(--maincolor);
}

.socials-section {
  color: var(--foreground);
  background-color: var(--background);
  padding-top: 0;
}

/* Gallery test */

.photo-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 10px;
}

.photo-gallery-container img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}