@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

.oxygen-mono-regular {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}  

:root {
    --violet: #7d00ffff;
    --very-dark-gray: #010101;
    --paynes-gray: rgb(33, 33, 33);
    --lime: #c6ff00ff;
    --white: #ffffffff;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: var(--very-dark-gray);
    color: var(--white);
    font-family: "Oxygen Mono", monospace;
}

main {
    margin: 0;    
    width: min(90vw, max(50vw, 95vh));
    height: 100%;
    padding: 10px 10px 50px 10px;
    justify-self: center;

    /* background-color: var(--paynes-gray); */
}

a {
    padding: 0px 24px 0px 0px;
    color: #fff;   
}

header {
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    padding: 2vh;

    position: sticky;

    display: flex;
    justify-content: left;

    background-color: var(--paynes-gray);
    /* box-shadow: 2px 0 4px var(--lime); */
}

/* header a {
    color: var(--lime);
} */

/* header a:visited {
    color: var(--lime)
} */

header a:hover {
    transform: scale(105%);
}