.page {
  width: min(90vw, max(50vw, 95vh));
  height: 100%;
  margin: auto;
  padding: 1%;

  background-color: var(--paynes-gray);
  box-shadow: 1px 1px 2px black;
}

.socials {
  width: 100%;
  margin: auto;
  /* padding: 5%; */
  display: flex;
  justify-content: center;
  gap: 32px;

  /* box-shadow: 0 0 2px var(--lime); */
}

.socials a:hover {
  transform: scale(105%);
}

.primary {
  padding: 12px;

  background-color: var(--lime);
  color: var(--gunmetal);
  /* /* border-style: solid;
  border-color: #000; */
  border-radius: 4px;

  box-shadow: 0 0 3px var(--lime);
}

.secondary {
  padding: 12px;
  background-color: var(--gunmetal);
  color: var(--lime);
  border-style: solid;
  border-width: 1px;
  border-color: var(--lime);
  border-radius: 4px;

  box-shadow: 0 0 3px var(--lime);
}

.primary img {
  width: 17%;
  height: auto;
}