.page {
  /* width: 60vw; */
  width: min(80vw, max(60vw, 80vh));
  height: 100%;
  margin: auto;
  padding: 2%;
  background-color: #2a2a2a;
}

.socials {
  width: 90%;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 16px;

  /*border-style: solid;
  border-color: #f00;*/
}

.primary {
  padding: 12px;
  background-color: #ffee00;
  color: #000;
  /* /* border-style: solid;
  border-color: #000; */
  border-radius: 4px;
}

.secondary {
  padding: 12px;
  background-color: #222;
  color: #ffee00;
  border-style: solid;
  border-width: 1px;
  border-color: #ffee00;
  border-radius: 4px;
}